
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489409847307'); /* IE9*/
  src: url('iconfont.eot?t=1489409847307#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489409847307') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489409847307') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489409847307#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianying:before { content: "\e633"; }

.icon-camera:before { content: "\e604"; }

.icon-infenicon09:before { content: "\e7a8"; }

.icon-xinwen:before { content: "\e6c8"; }

.icon-ditu:before { content: "\e622"; }

.icon-waimai:before { content: "\e62d"; }

.icon-gengduo:before { content: "\e60f"; }

.icon-jiudian:before { content: "\e645"; }

.icon-ktv:before { content: "\e68a"; }

.icon-icontuan:before { content: "\e601"; }

.icon-yinxing:before { content: "\e602"; }

.icon-iconfonticonfontcanyin:before { content: "\e600"; }

.icon-shenghuo:before { content: "\e665"; }

.icon-dache:before { content: "\e612"; }

.icon-xiaoshuo:before { content: "\e618"; }

